#parent {
    width: 70%;
    margin: auto 10px;
    height: 400px;
    border: 2px solid red;
    align-items: center;
    display: grid;
}

#child {
    border: 2px solid black;
    height: 200px;
    align-self: center;
}