body {
    font-size: 24px;
    font-family: monospace;
}

p {
    background-color: #310926;
    color: white;
    width: 60%;
    padding: 20px;
    margin: 30px 0;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button {
    padding: 12px;
    font-size: 24px;
    font-family: monospace;
    outline: none;
}

.tables {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tables > div {
    padding: 20px;
    background-color: blue;
    color: white;
}